/* header */
.emailblast {
	background-color: #fff9ef;
}

.bannertop {
	height: 75px;
	background: url('../images/top_banner.jpg');
	padding-top: 20px;
}

.banner-text {
	text-align: center
}

.banner-text h1 {
	vertical-align: middle;
	font-size: 35px;
	display: inline-block;
 	margin-right: 25px;
 	color: #fff;
 	text-shadow: 1px 0 4px #666;
}

.btn1-container {
	width: 120px;
	display: inline-block;
	background-color: #ffba01;
	border-radius: 7px;
	box-shadow: .5px .5px #000;
	padding: 5px 10px;
}

#main-email {
	margin: 0 auto;
	width: 780px;
}

.buynow-column p:last-child {
	margin-top: 20px;
	margin-bottom: 0;
}
a.btn1 {
  text-transform: uppercase;
	color: #9b4308;
	width: 50px;
	text-decoration: none;
}

.section2 p {
	font-size: 15px;
}

.p {
	padding-top: 40px;
	padding-bottom: 40px;
}

small {
	font-size: 12px;
	font-weight: 100;
}
.poster-column {
	width: 49%;
}

h1.father-header {
	color: #9b4308;
	font-size: 26px;
}

.fathersday {
	margin-top: 40px;
}

.subtitle {
	font-weight: 700;
}

.cap {
	text-transform: uppercase;
}

.poster {
	/*width: 80%;*/
	text-align: center;
	padding-right: 25px;
}

.btn2-container {
	background-color: #b65c27;
	width: 120px;
	text-align: center;
	margin-bottom: 10px;
	padding: 8px 10px;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 7px;
	box-shadow: .5px .5px #000;
}

.buy-btn {
	
}

.buynow-column p {
	font-size: 15px;
	margin-bottom: 15px;
}



.btn2 {
	
}

.center {
	text-align: center;
}

.poster-column,
.buynow-column {
	float: left;
}

.poster-column {
	width: 50%;
}

.buynow-column {
	width: 35%;
}

.clearfix {
	clear: both;
}

.btn2 {
	background-color: #b65c27;
}

.footer {
	background-color: #b65c27;
}