/*-------------------------------------------

    Title :  Shen Yun local 2015
    Usage :  Homepage
    Edited:  2015-03-28

---------------------------------------------

    1. intro
    2. sign up
    3. download
    4. responsive layout (736px)

---------------------------------------------*/



/*  1. intro
---------------------------------------------*/

#intro {
	margin: 0 auto;
	padding-top: 32px;
	max-width: 770px;
	}

#intro h2 {
	margin-bottom: 30px;
	color: #010101;
	font-weight: 400;
	font-size: 48px;
	font-family: "Times New Roman", serif;
	text-align: center;
	letter-spacing: -0.01em;
	}

#intro p {
	margin: 0 auto;
	max-width: 660px;
	font-size: 18px;
	line-height: 1.25;
	}

#intro p + p {
	margin-top: 1.2em;
	font-weight: 700;
	}

/* changes */

.main-intro {
	border-bottom: 2px solid #614013;
	padding-bottom: 30px;
}
.col-1 {
	float: right;
	max-width: 65%;
	border-left: 1px solid black;
	padding-left: 20px;
}

.col-2 {
	position: relative;
	float: left;
	display: table-cell;
	vertical-align: middle;
	max-width: 30%;
	font-weight: 700;
	font-size: 18px;
	padding-left: 10px;
	padding-right:10px;

	margin-left: 5px;
	margin-right: 5px;
	padding-top: 40px;
}
.col-2 p {
  top: 50%;
}

.col-3 {
	float: left;
	display: table-cell;
	vertical-align: middle;
	max-width: 17%;
	padding-top:40px;
	
}

.intro-sub {
	clear:both;
	min-height: 200px;
}

.journey-image-container {
	text-align: center;
}

.journey h1 {
	font-size: 48px;
	text-align: center;
	font-family: "Times New Roman", serif;
	font-weight: normal;
	margin-bottom: 30px;
}

.container {
	max-width: 460px;
	margin: 0 auto;
	
}
.inner-container {
	padding-left: 25px;
	border-left: 1px solid black;
}

.container p {
	margin-bottom: 20px;
	margin-bottom: 25px;
	font-size: 18px;
}

.play {
	display: inline-block;
  color: #b65c27;
  font-size: 18px;
  white-space :  nowrap;
}

.play:before {
	content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  width: 39px;
  height: 39px;
  background: url(../images/sprite.png) no-repeat 0 -332px;
}

.journey .dl {
	position: relative;
  float: right;
  margin-top: 5px;
  padding: 5px 5px 4px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: "HelveticaNeue CondenseBold", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -pie-background: #b65c27;
  background: #b65c27;
  border-radius: 4px;
}

.container {
	margin: 0 auto;
	width: 780px;
	padding-top: 25px;
}

.hr {
	margin: 0 auto;
	border-top:1px solid black;
	max-width: 780px;
}

.container dl{
	font-size: 18px;
	font-family: Arial, sans-serif;
	margin-bottom: 25px;
}

.giveaway-title h1 {
	font-size: 48px;
	text-align: center;
	font-family: "Times New Roman", serif;
	font-weight: normal;
	margin-bottom: 30px;
}
/*  2. sign up
---------------------------------------------*/

#signup {
	margin: 60px auto 0;
	padding: 25px 0 23px;
	max-width: 430px;
	border: solid #614013;
	border-width: 1px 0;
	}

#signup a {
	position: relative;
	float: left;
	margin-top: 3px;
	padding: 10px 10px 9px;
	color: #fff;
	font-size: 20px;
	font-family: "HelveticaNeue CondenseBold", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	-pie-background: rgba(113, 67, 160, 0.9);
	     background: rgba(113, 67, 160, 0.9);
	border-radius: 4px;
	behavior: url(js/PIE.htc);
	}

#signup p {
	float: right;
	width: 72%;
	width: -webkit-calc(100% - 120px);
	width:         calc(100% - 120px);
	color: #7143a0;
	font-size: 14px;
	line-height: 1.25;
	}

#signup:after {
	content: "";
	clear: both;
	display: block;
	}

/* header */
.emailblast {
	background-color: #fff9ef;
}

.bannertop {
	height: 75px;
	background: url('../images/top_banner.jpg');
	padding-top: 20px;
}

.banner-text {
	text-align: center
}

.banner-text h1 {
	vertical-align: middle;
	font-size: 35px;
	display: inline-block;
 	margin-right: 25px;
 	color: #fff;
 	text-shadow: 1px 0 4px #666;
}

.btn1-container {
	width: 120px;
	display: inline-block;
	background-color: #ffba01;
	border-radius: 7px;
	box-shadow: .5px .5px #000;
	padding: 5px 10px;
}

.journey-container {
	max-width: 460px;
	float: left;
}

.left {
	float: left;
}

.right {
	float: right;
}

.container2 {
	max-width: 480px;
	margin-bottom: 35px;
}

.inner-container-no-b {
	border: none;
}

.btn-group {
	float: right;
}

.journey-container p {
	margin-bottom: 20px;
	margin-bottom: 25px;
	font-size: 18px;
}

#main-email {
	margin: 0 auto;
	width: 780px;
}

.buynow-column p:last-child {
	margin-top: 20px;
	margin-bottom: 0;
}
a.btn1 {
  text-transform: uppercase;
	color: #9b4308;
	width: 50px;
	text-decoration: none;
}

.section2 p {
	font-size: 15px;
}

.p {
	padding-top: 40px;
	padding-bottom: 40px;
}

small {
	font-size: 12px;
	font-weight: 100;
}
.poster-column {
	width: 49%;
}

h1.father-header {
	color: #9b4308;
	font-size: 26px;
}

.fathersday {
	margin-top: 40px;
}

.subtitle {
	font-weight: 700;
}

.cap {
	text-transform: uppercase;
}

.poster {
	/*width: 80%;*/
	text-align: center;
	padding-right: 25px;
}

.btn2-container {
	background: #b65c27;
	-pie-background: #b65c27;
	width: 120px;
	text-align: center;
	margin-bottom: 10px;
	padding: 8px 10px;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 7px;
	box-shadow: .5px .5px #000;
}

.more-music {
	margin: 10px auto;
}

.join-shenyun {
	margin: 10px auto;
}

.sub-info {
	text-align: center;
	font-size: 15px;
}


.buynow-column p {
	font-size: 15px;
	margin-bottom: 15px;
}

.center {
	text-align: center;
}

.poster-column,
.buynow-column {
	float: left;
}

.poster-column {
	width: 50%;
}

.border-top {
	border-top: 1px solid #000;
}
.buynow-column {
	width: 35%;
}

.clearfix {
	clear: both;
}

.btn2 {
	background-color: #b65c27;
}

.journey .emperor-title {
	text-align: left;
	width: 480px;
}


.footer {
	margin-top: 15px;
	background-color: #b65c27;
	height: 80px;
}


/*  3. download
---------------------------------------------*/

#download {
	max-width: 480px;
	}

#download ul li {
	position: relative;
	padding: 70px 0 60px;
	border-top: 1px solid #614013;
	}

#download ul li:first-child + li {
	padding: 80px 0 65px;
	}

#download ul li:first-child {
	border-top: none;
	}

#download ul li img {
	position: absolute;
	}

#download ul li:first-child img {
	top: 30px;
	left: -30px;
	}

#download ul li:first-child + li img {
	top: 30px;
	left: -5px;
	}

#download ul li .right {
	position: relative;
	float: right;
	width: -webkit-calc(100% - 110px);
	width:         calc(100% - 110px);
	max-width: 320px;
	}

#download ul li .right p {
	margin-bottom: 14px;
	font-size: 18px;
	}

#download ul li .right .play {
	display: inline-block;
	color: #b65c27;
	font-size: 18px;
	white-space:normal ;
	}

#download ul li .right .play:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	width: 39px;
	height: 39px;
	background: url(../images/sprite.png) no-repeat 0 -332px;
	}

#download ul li .right .dl {
	position: relative;
	float: right;
	margin-top: 41px;
	padding: 5px 5px 4px;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	font-family: "HelveticaNeue CondenseBold", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	-pie-background: #b65c27;
	     background: #b65c27;
	border-radius: 4px;
	behavior: url(js/PIE.htc);
	}

#download ul li:after {
	content: "";
	clear: both;
	display: block;
	}


/*  4. responsive layout (736px)
---------------------------------------------*/

@media screen and (max-width: 736px) {

/*  1. intro  */

	#intro {
		padding-top: 85px;
		max-width: 288px;
		}

	#intro h2 {
		margin-bottom: 16px;
		font-size: 35px;
		}

	#intro p {
		font-size: 14px;
		line-height: 1.25;
		}

	#intro p + p {
		margin-left: 0;
		max-width: 210px;
		}


	/*  2. sign up  */

	#signup {
		margin-top: 50px;
		max-width: 288px;
		}

	#signup a {
		margin-top: 23px;
		}


	/*  3. download  */

	#download {
		max-width: 288px;
		}

	#download ul li {
		padding: 50px 0 120px;
		}

	#download ul li:first-child + li {
		padding-top: 675x;
		}

	#download ul li:first-child img {
		top: 35px;
		left: 5px;
		}

	#download ul li:first-child + li img {
		top: 38px;
		left: 23px;
		}

	#download ul li .right .play {
		margin-left: -5px;
		}

	#download ul li .right .dl {
		margin-top: 11px;
		}

		/* changes */

	.journey h1 {
		font-size: 35px;
		max-width: 300px;
		margin: 0 auto;
	}

	.inner-container {
		border: none;
	}

	.col-1 {
		max-width: 430px;
		border: none;
	}

	.col-2, .col-3 {
		display: block;
		max-width: 430px;
	}

	.col-2 {
		display: none;
	}

	.col-1,
	.col-2,
	.col-3 {
		padding-left: 0;
		padding-right: 0;
		/*padding-top: 25px;*/
		float: none;
	}

	.container {
		max-width: 288px;
	}

		.bannertop {
		height: 120px;
	}

	#main-email {
		width: 100%;
	}

	.banner-text h1 {
		padding-bottom: 10px;
	}

	.poster-column,
	.buynow-column,
	.btn-group,
	.section2,
	.journey-container,
	.container2,
	#download {
		width: 400px;
		margin: 0 auto;
		float: none;
		clear: both;
		margin-bottom: 35px;
	}

	.buynow-column,
	.journey-container {
		margin-top: 40px;
	}

	.section2 {
		width: 480px;
		margin: 0 auto;
	}
	.journey-container {

	}

	.btn2-container {
		margin: 0 auto;
		float: none;
		clear: both;
		width: 120px;
		margin-bottom: 10px;
	}
	
	.sub-info {
		margin-top: 25px;
		margin-bottom: 30px;
	}
	#download {
		max-width: 780px;
	}
}