
body { font-family: arial; font-size: 1.0em;}
.results { border: solid 1px #000; padding: 5px; background-color: #ccc;}


.upContainer
{
	width: 400px;
	height: 60px;
	border: solid 1px #000;
	background-color: #ccc;
}

.upOuterBar
{
	width: 380px;
	height: 40px;
	margin: 10px;
	border: solid 1px #000;
	background-color: #fff;
	overflow: hidden;
}

.upInnerBar
{
	width: 0;
	height: 40px;
	background-color: #ffff33;
	position: relative;
}

.upLabel
{
	width: 100%;
	background-color: Transparent;
	color: #ff0000;
	text-align: center;
	z-index: 9999;
	position: relative;
	top: -35px;
}

table.list tr.odd {
	background-color: #CCC;
}

table.list, td.details table.list {
	width: 100%;
	border: 1px solid #000;
}
